/* main_color_2  */

$main_color_1: #3D3D3D;
$main_color_2: #6D6D6D;

body {
    color: $main_color;
    background-color: $main_color_2;
}

p {
    color: $main_color;
}
h2 {
    background-color: $main_color_2;
}
